@font-face {
    font-family:"SF-Pro";
    src: url("./public/fonts/SF-Pro.ttf");
}

html, body, section, .full-height {
    height: 100%;
    user-select: all;
} 

div{
    font-size: 18px;
    line-height: 26px;
}

#textBlock {
    font-family: "SF-Pro";
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    width: 94%;
    padding: 10px;
}

#textBlock:empty:before{
    content: attr(placeholder);
    color: gray;
}

.notesList:empty::before{
    content: attr(placeholder);
    color: gray;
}

.notesList{
    color: black;
}

.header1{
    font-size: 42px;
    line-height: 50px;
    font-weight: bold;
    color: black;
}

.header2{
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    color: black;
}


.row {
    display: flex;
    flex-direction: row;
}

#markdown {
    overflow: auto;
    border-left: 1px solid black;
    padding: 3%;
}